.itemIcon {
  height: 50px;
}
.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.itemDescription {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  height: 7vh;
}

.itemButton {
  width: 8rem;
  height: 8.5rem;
  font-size: 12px;
}

.gold,
.type {
  font-size: 0.5rem;
}
.name {
  color: rgb(179, 164, 105);
  font-size: 0.8rem;
}
