body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color:rgb(179, 164, 105);
}


/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Sarala', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;  
  padding: 2vmin;
  height: 100vh;
}


#root {
  height: 100%;
}

.align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
}

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--text-dark);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  padding: 3vmin;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--orange);
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
  color: var(--text-light);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--orange);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color:black;
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .5vmin groove rgb(179, 164, 105);
  border-radius: .3vmin;
  outline: none;
  cursor: pointer;
}

button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
}

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--tan-4);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}
.godList {
  height: 30rem;
  overflow: auto;
}
.items {
  height: 20rem;
  overflow: auto;
}
.god {
  height: 20rem;
  width: 10rem;
}
 hr {
   border: 1.5px groove rgb(179, 164, 105);
   background-color: rgb(179, 164, 105);
 }
 button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(0.95);
 }
 
 .landingimages {
   margin-top: 20px;
   display: flex;
    justify-content:center;
 }
 .landingimages div:first-child{
   border-left: rgb(179, 164, 105) groove 3px;
   padding-left: 50px;
   padding-right: 55px;
 }
 .landingimages div:nth-child(3) {
  border-right: rgb(179, 164, 105) groove 3px;
  padding-left: 0;
 }

 .landingimages div:nth-child(2) {
   border-left: rgb(179, 164, 105) groove 3px;
   left: 50%;
   margin-left: 3px;
   padding-left: 50px;
   top: 0;
 }